body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickButton {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#clickButton {
    background-color: blue;
}

#autoClickButton {
    background-color: red;
}

#autoClickButton.on {
    background-color: green;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

table, td, th {
    border: 1px solid lightblue;
    padding: 8px;
}

th {
    background-color: lightblue;
}

.rebirthButton {
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
