.button-not-allowed {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff4842;
  border: none;
  color: #272525;
  text-align: center;
  font-size: 13px;
  padding: 1px;
  width: 100px;
  transition: all 0.5s;
  cursor: not-allowed;
  margin: auto;
}

.button-not-allowed span {
  cursor: not-allowed;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-not-allowed span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-not-allowed:hover span {
  padding-right: 15px;
}

.button-not-allowed:hover span:after {
  opacity: 1;
  right: 0;
}